---
import MainLayoutEng from "../layouts/MainLayoutEng.astro";
---

<MainLayoutEng
  title="Contact | VIP Masszázs Stúdió"
  metaDescription="If you have any question about VIP Massage Stdio's servise, don't hesitate to contact me."
>
  <div class="contact-form contact-1 wf-section">
    <div class="container w-container">
      <div data-ix="fade-in-on-load-2" class="white-contact-form w-form">
        <form
          id="wf-form-Email-Form-2"
          name="wf-form-Email-Form-1"
          data-name="Email Form 1"
          redirect="https://vipmasszazsstudio.hu/message-sent.html"
          data-redirect="https://vipmasszazsstudio.hu/message-sent.html"
          action="https://gmail.us3.list-manage.com/subscribe/post?u=73db231ae930f101c07f78b96&id=0a19eeb5ae"
          method="post"
        >
          <h1 class="c-heading-2 is--kapcsolat">Message me</h1>
          <div class="text-block-2">
            In case you have any question you can send me a message
          </div><label for="NAME-2" class="field-label">First Name</label><input
            type="text"
            class="field rounded w-input"
            maxlength="256"
            name="NAME"
            data-name="NAME"
            placeholder=""
            id="NAME"
            required=""
          /><label for="LNAME-2" class="field-label">Last Name</label><input
            type="text"
            class="field rounded w-input"
            maxlength="256"
            name="LNAME"
            data-name="LNAME"
            placeholder=""
            id="LNAME"
            required=""
          /><label for="Email-2" class="field-label">Email</label><input
            type="email"
            class="field rounded w-input"
            maxlength="256"
            name="Email"
            data-name="Email"
            placeholder=""
            id="Email"
            required=""
          /><label for="MESSAGE-2" class="field-label">Message</label><textarea
            id="MESSAGE"
            name="MESSAGE"
            maxlength="5000"
            data-name="MESSAGE"
            placeholder="Example text"
            class="field rounded area w-input"></textarea><input
            type="submit"
            value="send"
            data-wait="Please wait..."
            class="button-2 w-button"
          />
        </form>
        <div class="success-message w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="error-bg w-form-fail">
          <p>Oops! Something went wrong while submitting the form</p>
        </div>
      </div>
      <div class="contact-info-block-right">
        <div data-ix="fade-in-on-load-3" class="contact-info-block">
          <div class="contact-info-small-block">
            <div class="small-contact-info-title">email</div>
            <p class="contact-info-description">vip.homemassage@gmail.com</p>
          </div>
          <div class="contact-info-small-block">
            <div class="small-contact-info-title">Telefon</div>
            <p class="contact-info-description">+36-70-947-6954</p>
          </div>
          <div class="contact-info-small-block">
            <div class="small-contact-info-title">Address</div>
            <p class="contact-info-description">
              Mónika Szigeti Entrepreneur<br />
            </p>
            <p class="contact-info-description">1097 Budapest Drégely u. 12.</p>
            <p class="contact-info-description">
              Tax number: 67987119-1-43<br />
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</MainLayoutEng>
