---
import MainLayoutEng from "../layouts/MainLayoutEng.astro";
---

<MainLayoutEng
  title="Error Message | VIP Masszázs Stúdió"
  metaDescription="Error Message. Something went wrong."
>
  <div class="full-page-section wf-section">
    <div class="container-2 is--center is--form">
      <p class="succsess-page-text">
        Oops something went wrong. Please try again or reach us directly.
      </p>
      <a href="index.html" class="success-back-link"
        ><span class="c-arrow"></span> Back to the main page</a
      >
    </div>
  </div>
</MainLayoutEng>
