---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Jelentkezését rögzítettük videó | VIP Masszázs Stúdió"
  metaDescription="Jelentkezését rögzítettük videó | VIP Masszázs Stúdió"
>
  <div class="full-page-section wf-section">
    <div class="container-2 is--center is--form">
      <p class="succsess-page-text">
        Köszönjük az érdeklődést hamarosan kapni fog egy e-mailt, amelyben a
        fizetés részletei leszenek.<br />‍<br />Kérjük ellenőrizze a promóciós
        mappát és a spam fiókót is. Amennyiben egy napon belül nem kap tőlünk
        semmilyen visszajelzést kérjük vegye fel velünk a kapcsolatot
        közvetlenül a<br />vipms.videoanyagok@gmail.com címen<br />vagy a +3670
        947 6954-es telefonszámon.
      </p>
      <a href="index.html" class="success-back-link"
        ><span class="c-arrow"></span> Vissza a főoldalra</a
      >
    </div>
  </div>
</MainLayout>
