---
import MainLayoutEng from "../layouts/MainLayoutEng.astro";
---

<MainLayoutEng
  title="Message sent | VIP Masszázs Stúdió"
  metaDescription="Message sent | VIP Masszázs Stúdió"
>
  <div class="full-page-section wf-section">
    <div class="container-2 is--center is--form">
      <p class="succsess-page-text">
        Thank you for your inquiry. We will contact with you soon.
      </p>
      <a href="office-massage.html" class="success-back-link"
        ><span class="c-arrow"></span> Back to the main page</a
      >
    </div>
  </div>
</MainLayoutEng>
