---
import MainLayoutEng from "../layouts/MainLayoutEng.astro";
---

<MainLayoutEng
  title="Office massage | VIP Masszázs Stúdió"
  metaDescription="Office massage | VIP Masszázs Stúdió"
>
<div class="l-section-hero is-irodai wf-section">
  <div class="l-container">
    <h1 class="c-heading1">Office Massage</h1>
  </div>
</div>
<div class="l-section is--padding-100px wf-section">
  <div class="l-container">
    <div class="max-width-750px">
      <h2 class="c-heading-2">Office chair massage</h2>
      <div class="c-line"></div>
      <p>Dear Managers and employees,<br>I would like to introduce our service the office chair massage. I am sure you
        have had experienced strain in your neck or waist or headache as you sit all day front of your computer or
        tiredness of your wrist and finger using the mouse. <br></p>
      <p>With 14 years and over 10.000 hour of massaging experience I can firmly state that we can improve our well
        being and health even weekly 15 minutes of office chair massage. Unfortunately in our fast-paced world in
        addition to working and family it is very hard to find extra time for visiting a masseur. For this reason we
        come right in your office weekly or biweekly at a prearranged time. We only need a smaller room (it can be a
        meeting or dinning room) where the person who receiving the massage can relax for that 15 minutes and than can
        continue the work refreshed.</p>
    </div>
  </div>
</div>
<section id="services" class="section-3 services-we-provide wf-section">
  <div class="l-container is--blue">
    <div class="row">
      <div class="block-blue push-down">
        <div class="block-blue_item" data-ix="move-up-on-load-1">
          <div class="list-icon mb-20">
            <p class="icon _4x c-white"></p>
            <p class="ofice-card-heading">15 Minutes</p>
          </div>
          <p class="c-white-light mb-40">Even weekly 15 minutes of office chair massage can significantly improve our
            health.  Unfortunately we can hardly find time to go regularly a masseur. </p>
          <div class="block-blue_bottom-border"></div>
        </div>
        <div class="block-blue_item" data-ix="move-up-on-load-2">
          <div class="list-icon right mb-20">
            <p class="icon _4x c-white"></p>
            <p class="ofice-card-heading">a Small space is enough</p>
          </div>
          <p class="c-white-light mb-40">All you need is a small room - this may be a meeting room, a dinning room
            where you can relax for 15 minutes. After the massage, you can continue to work, refreshed.</p>
          <div class="block-blue_bottom-border"></div>
        </div>
        <div class="block-blue_item" data-ix="move-up-on-load-1">
          <div class="list-icon mb-20">
            <p class="icon _4x c-white"></p>
            <p class="ofice-card-heading">More efficient work</p>
          </div>
          <p class="c-white-light mb-40">When employees feel that they are appreciated and the company is taking care
            of them and their well being they will work with greater enthusiasm and a more positive attitude. </p>
        </div>
        <div class="block-blue_item" data-ix="move-up-on-load-2">
          <div class="list-icon right mb-20">
            <p class="icon _4x c-white is--light"></p>
            <p class="ofice-card-heading">health preservation</p>
          </div>
          <p class="c-white-light mb-40">When the workers are more relaxed, they are much more efficient. It is also
            proven the massage helps to preserve their health resulting  fewer sick leaves.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="l-section is--padding-120px wf-section">
  <div class="l-flull-height-2coll-container is--no-line">
    <div class="l-width-50per-img is--iroda"></div>
    <div class="l-max-width-50per is--flex">
      <div class="c-text-wrapper-75per">
        <h2 class="c-heading-2">How the office massage is done?</h2>
        <div class="c-line"></div>
        <p class="max-width-492">You need a quiet place designated by your company, which may be either an empty
          meeting room. The guest is seated in dress enjoying the 15-minute session through a special chair provided
          by me.<br></p>
        <p class="max-width-492">During the massage my focus is on the painful body parts of sitting, especially due
          to computer work like back, waist, head, neck, upper arm, forearm, hands and fingers. Its beneficial
          physiological effects are proven by numerous researches.<br></p>
        <p class="max-width-492">The office massage stimulates the work performance, concentration, reduce stress,
          thereby helping to optimize workplace atmosphere.<br></p>
      </div>
    </div>
  </div>
</div>
<div class="l-section is--padding-100px is--bg-light wf-section">
  <div class="l-container">
    <div class="max-width-750px">
      <h2 class="c-heading-2">Price</h2>
      <div class="c-line"></div>
      <p class="c-paragraph">Minimum take-off time for 2 hours massage.<br>15-minute massages are available.<br>For
        detailed information and an accurate personalized quote, please e-mail me.</p>
      <div class="c-price">1850 HUF / 15 minutes</div>
    </div>
  </div>
</div>
<div class="l-section is--padding-80px-copy wf-section">
  <div class="l-container">
    <div class="max-width-750px">
      <h2 class="c-heading-2">Massage contraindications</h2>
      <div class="c-line"></div>
      <p>Acute conditions, inflammatory diseases, postoperative 6-8 weeks, contagious diseases, fever, fracture,
        ficam, burns, trauma, drunk state, epilepsy, skin changes, malignancy, first 12 weeks and last months of
        pregnancy, strongest menstrual period, obstructive vascular disorders, acute venous diseases, heart rhythm
        disorders, advanced osteoporosis.<br><br>If you are unsure whether the massage can be performed, please
        consult your doctor beforehand.</p>
      <div class="c-course-wrapper">
        <ul role="list" class="c-courses-list is--margin-top-0 w-list-unstyled"></ul>
      </div>
    </div>
  </div>
</div>
<div class="wf-section">
  <div class="l-flull-height-2coll-container is--reversed">
    <div class="l-width-50per-img is--moni"></div>
    <div class="l-max-width-50per is--flex">
      <div class="c-text-wrapper-75per">
        <h2 class="c-heading-2">Rólam</h2>
        <div class="c-line"></div>
        <p class="max-width-492">Szigeti Mónikának hívnak. 27 éve döbbentem rá, hogy nem szerettem az akkori
          szakmámat, így elkezdtem valami olyat keresni, amivel szívesen foglalkoznék. Kipróbáltam magam sok különböző
          területen, viszont hiányzott a lelkesedés és az a bizonyos plusz, amitől úgy éreztem, hogy ez nekem való.
          Egészen 2005-ig, amikor először mentem el egy masszázsra, amely megváltoztatta az életemet. Olyannyira
          kikapcsolt és segített feledni a mindennapok okozta problémáit, hogy akkor és ott tudtam, hogy ezzel kell
          foglalkoznom. Segíteni akartam másokon, lehetőséget nyújtani, hogy akár rövid időre is, de el tudjanak
          szakadni a világ gondjaitól és csak a saját testi, lelki feltöltődésükre tudjanak koncentrálni. Így a munkám
          mellett elkezdtem kitanulni különböző masszázs fajtákat. </p>
      </div>
    </div>
  </div>
</div>
<div class="contact-form contact-1 wf-section">
  <div class="container w-container">
    <div data-ix="fade-in-on-load-2" class="white-contact-form w-form">
      <form id="wf-form-Email-Form-2" name="wf-form-Email-Form-1" data-name="Email Form 1"
        redirect="https://vipmasszazsstudio.hu/message-sent.html"
        data-redirect="https://vipmasszazsstudio.hu/message-sent.html"
        action="https://gmail.us3.list-manage.com/subscribe/post?u=73db231ae930f101c07f78b96&amp;amp;id=0a19eeb5ae"
        method="post">
        <h1 class="c-heading-2 is--kapcsolat">Message me</h1>
        <div class="text-block-2">In case you have any question you can send me a message</div><label for="NAME-2"
          class="field-label">First Name</label><input type="text" class="field rounded w-input" maxlength="256"
          name="NAME" data-name="NAME" placeholder="" id="NAME" required=""><label for="LNAME-2"
          class="field-label">Last Name</label><input type="text" class="field rounded w-input" maxlength="256"
          name="LNAME" data-name="LNAME" placeholder="" id="LNAME" required=""><label for="Email-2"
          class="field-label">Email</label><input type="email" class="field rounded w-input" maxlength="256"
          name="Email" data-name="Email" placeholder="" id="Email" required=""><label for="MESSAGE-2"
          class="field-label">Message</label><textarea id="MESSAGE" name="MESSAGE" maxlength="5000"
          data-name="MESSAGE" placeholder="Example text" class="field rounded area w-input"></textarea><input
          type="submit" value="send" data-wait="Please wait..." class="button-2 w-button">
      </form>
      <div class="success-message w-form-done">
        <p>Thank you! Your submission has been received!</p>
      </div>
      <div class="error-bg w-form-fail">
        <p>Oops! Something went wrong while submitting the form</p>
      </div>
    </div>
    <div class="contact-info-block-right">
      <div data-ix="fade-in-on-load-3" class="contact-info-block">
        <div class="contact-info-small-block">
          <div class="small-contact-info-title">email</div>
          <p class="contact-info-description">vip.homemassage@gmail.com</p>
        </div>
        <div class="contact-info-small-block">
          <div class="small-contact-info-title">Telefon</div>
          <p class="contact-info-description">+36-70-947-6954</p>
        </div>
        <div class="contact-info-small-block">
          <div class="small-contact-info-title">Address</div>
          <p class="contact-info-description">Mónika Szigeti Entrepreneur<br></p>
          <p class="contact-info-description">1097. Budapest Drégely u. 12.</p>
          <p class="contact-info-description">Tax number: 67987119-1-43<br></p>
        </div>
      </div>
    </div>
  </div>
</div>
</MainLayoutEng>