---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Rólam | VIP Masszázs Stúdió"
  metaDescription="Szigeti Mónikának hívnak. Mindig is érdekelt az érintés, a test felépítése, a segítség nyújtása. Hogy az elmúlt 14 év tapasztalatát megoszthassam létrehoztam a létrehoztam a V.I.P. masszázs oktatási stúdiót."
>
<div class="l-section is--padding-100px wf-section">
  <div class="l-container">
    <div class="rolam w-richtext">
      <h2>Rólam</h2>
      <figure class="w-richtext-align-floatright w-richtext-figure-type-image">
        <div><img src="images/Moni2022.jpg" alt="Szigeti Mónika gyógymasszőz"></div>
      </figure>
      <p>‍</p>
      <p>Szigeti Mónika vagyok OKJ gyógymasszőr szakképesítéssel, melyről ezen a linken tájékozódhat.  <a
          href="https://kereso.enkk.hu">https://kereso.enkk.hu</a> Nyilvántartási számom: 221484.</p>
      <p><strong>Kérem minden esetben tájékozódjon az oktató hitelességéről.</strong></p>
      <p>Mindig is érdekelt az érintés, a test felépítése, a segítség nyújtása. Én is jártam
        rendszeresen masszázsra már 25 éves koromtól kezdve. Mellette sportoltam hetente kétszer-háromszor, ahogy időm
        engedte.</p>
      <p>Ekkor irodai dolgozóként még egy asztal mögött ülve, egyre inkább azt éreztem, hogy ez a munka nem nekem
        való. Elhatároztam, hogy váltani szeretnék. Gondolkodóba estem, mi az, amit szeretek. Rögtön a masszázs jutott
        eszembe. Információkat gyűjtöttem, milyen lehetőségek vannak. </p>
      <p>Így jött az ötlet 2005-ben, hogy a munkám mellett elkezdtem kitanulni különböző masszázs fajtákat. Mindig
        törekedtem a külső-belső harmóniára ezért tanultam meg a keleti és a nyugati masszázsfajtákat, mint például:
      </p>
      <ul role="list">
        <li>shiatsu alapok</li>
        <li>lávaköves masszázs</li>
        <li>svédmasszázs</li>
        <li>frissítő talpmasszázs</li>
        <li>gyógymasszázs</li>
        <li>kismama, babamasszázs</li>
        <li>kinesio tapeing</li>
        <li>köpölyözés</li>
        <li>SMR henger tanfolyam</li>
        <li>Természetgyógyász-fitoterapeuta</li>
      </ul>
      <p>Munkatapasztalataimat többek közt a Gellért, Széchenyi gyógyfürdő VIP, valamint thermál  részlegein
        szereztem. Dolgoztam a Magnólia day spa-ban. Jelenleg egyéni vállalkozó vagyok. Főként 4 és 5 csillagos
        hotelekben, wellnessekben, külföldi érdekeltségű irodaházakban illetve családoknál, magánszemélyeknél
        szereztem nagy munkatapasztalatot.
        2017-ben a Siófokon megrendezett strandröplabda nemzetközi versenyén én biztosítottam kollégáimmal a sportolók
        számára a masszázst. Szintén Siófokon a VIP Plázs masszázst is mi szolgáltattuk. Részt vettem még a
        Balatonman, valamin az UltraBalaton sportrendezvényeken.</p>
      <p>Elvégeztem több Prána-nadi tanfolyamot ahol mester fokozatot értem el. Hoisztikus szemléletem a Biologika
        irányába is terelt. Folyamatosan képzem magam
        szakmailag, testileg, lelkileg és szellemileg egyaránt. Számomra fontos az odafigyelés, mások segítése, ezért
        önkéntes tevékenységet is folytatok a Magyar Hospice Alapítványnál. </p>
      <p>2019. januárjában úgy hozta a sors, hogy a 14 év tapasztalatát, a több 1000 óra masszázs gyakorlati és
        elméleti tudását
        megoszthatom másokkal. Ezért létrehoztam a VIP Masszázs Oktatási Stúdiót.</p>
    </div>
  </div>
</div>
</MainLayout>