---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="style guide" metaDescription="style guide">
  <div class="wf-section">
    <div class="l-container">
      <h1 class="c-heading1">Heading 1</h1>
      <h2 class="c-heading-2">Heading 2</h2>
      <h3 class="heading3">Heading 3</h3>
      <p class="c-max-w-806">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut
        sem vitae risus tristique posuere.
      </p>
    </div>
  </div>
  <div class="l-section is--pading-40px wf-section">
    <div class="l-container">
      <div class="l-3-col-flex-wrapper">
        <div class="l-width-33per">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros elementum tristique. Duis cursus, mi quis
            viverra ornare, eros dolor interdum nulla, ut commodo diam libero
            vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem
            imperdiet. Nunc ut sem vitae risus tristique posuere.
          </p>
        </div>
        <div class="l-width-33per">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros elementum tristique. Duis cursus, mi quis
            viverra ornare, eros dolor interdum nulla, ut commodo diam libero
            vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem
            imperdiet. Nunc ut sem vitae risus tristique posuere.
          </p>
        </div>
        <div class="l-width-33per">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros elementum tristique. Duis cursus, mi quis
            viverra ornare, eros dolor interdum nulla, ut commodo diam libero
            vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem
            imperdiet. Nunc ut sem vitae risus tristique posuere.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="l-section is--pading-40px wf-section">
    <div class="l-container">
      <div class="l-2-col-flex-wrapper">
        <div class="l-max-width-50per"></div>
        <div class="l-max-width-50per"></div>
      </div>
    </div>
  </div>
  <div class="l-section is--pading-40px wf-section">
    <div class="l-container">
      <div class="l-4-col-flex-wrapper">
        <div class="l-width-25per">
          <div class="c-colors">
            <div class="c-color-text">
              <div class="c-color-discription">Text:</div>
              <div>#6C757D</div>
            </div>
            <div class="c-color-item color2"></div>
          </div>
        </div>
        <div class="l-width-25per">
          <div class="c-colors">
            <div class="c-color-text">
              <div class="c-color-discription">Background:</div>
              <div>#F8F5F5</div>
            </div>
            <div class="c-color-item color1"></div>
          </div>
        </div>
        <div class="l-width-25per">
          <div class="c-colors">
            <div class="c-color-text">
              <div class="c-color-discription">Background 2:</div>
              <div>#A88A52</div>
            </div>
            <div class="c-color-item color3"></div>
          </div>
        </div>
        <div class="l-width-25per">
          <div class="c-colors">
            <div class="c-color-text">
              <div class="c-color-discription">Accent:</div>
              <div>#A88A52</div>
            </div>
            <div class="c-color-item color4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
