---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Számlázási adatok | VIP Masszázs Stúdió"
  metaDescription="Számlázási adatok | VIP Masszázs Stúdió"
>
  <div class="wf-section">
    <div class="l-container">
      <div class="brand-copy">
        <img src="images/flower-logo.svg" alt="" class="image-3" />
        <div class="c-logo-text">VIP Masszázs <br />Oktatási Stúdió</div>
      </div>
    </div>
  </div>
  <div class="l-section is--padding-100px is--bg-light wf-section">
    <div class="l-container">
      <div class="max-width-750px">
        <h2 class="c-heading-2">UTOLSÓ LÉPÉS: MEGRENDELÉS</h2>
        <div class="c-line"></div>
        <p>
          Gratulálunk! Már csak egyetlen lépés választ el attól, hogy a tiéd
          legyen a A svédmasszázs alapfogásai videó tanfolyam!
        </p>
        <p>
          Töltsd ki a lenti megrendelő űrlapot és a megrendelést követően
          hamarosan kiállítjuk a számlát, amit átutalással tudsz kifizetni. Az
          átutalást követően 24 órán belül megkapod a hozzáférést a
          tanfolyamhoz, amit on-line tudsz megnézni.
        </p>
        <p>
          Amennyiben kérdésed van a <a href="#" class="link-2"
            >vip.homemassage@gmail.com</a
          > email címre tudsz írni.
        </p>
      </div>
    </div>
  </div>
  <div class="l-section is--padding-100px wf-section">
    <div class="l-container">
      <div class="w-layout-grid grid">
        <div
          id="w-node-_3861383b-c4ec-b80b-d58f-29b4a4201d5f-810f1826"
          class="c-text-wrapper"
        >
          <h2 class="c-heading-2">
            Mit fogsz kapni miután megrendelted a tanfolymot?
          </h2>
          <div class="c-line is--20per"></div>
        </div>
        <div
          id="w-node-_3861383b-c4ec-b80b-d58f-29b4a4201d63-810f1826"
          class="c-course-wrapper"
        >
          <ul
            role="list"
            class="c-courses-list is--margin-top-0 w-list-unstyled"
          >
            <li class="c-course-list-with-icon">
              <span class="c-course-icon-2"></span>Hozzáférést a videókhoz,
              amelyekben részletesen elmagyarázom és bemutatom a fogások helyes
              kivitelezését.
            </li>
            <li class="c-course-list-with-icon">
              <span class="c-course-icon-2"></span>5 % - os kuponkód mely a
              velvesa.hu oldalán bármilyen termék vásárlására beváltható.
            </li>
            <li class="c-course-list-with-icon">
              <span class="c-course-icon-2"></span>Egy személyes gyakorló órát
              kapsz 50% -os áron, 8000 Ft helyett 4000.- Ft ért melyet 40 napon
              belül használhatsz fel.
            </li>
            <li class="c-course-list-with-icon">
              <span class="c-course-icon-2"></span>30 napos pénzvisszafizetési
              garanciát.
            </li>
          </ul>
        </div>
        <div
          id="w-node-_3861383b-c4ec-b80b-d58f-29b4a4201d75-810f1826"
          class="c-course-wrapper"
        >
          <ul
            role="list"
            class="c-courses-list is--margin-top-0 w-list-unstyled"
          >
            <li class="c-course-list-with-icon">
              <span class="c-course-icon"></span>A videó hossza 40 perc
            </li>
            <li class="c-course-list-with-icon">
              <span class="c-course-icon-2"></span>Alapképzettség: nincs
            </li>
            <li class="c-course-list-with-icon">
              <span class="c-course-icon-2"></span>Pdf-ben letölthető jegyzetek
            </li>
            <li class="c-course-list-with-icon">
              <span class="c-course-icon-2 is--padding"></span>A videó anyag
              ára : 14.990.- Ft
            </li>
          </ul>
          <div class="covid-wrapper">
            <div class="covid-text title">Újrakezdési akció:<br /></div>
            <div class="covid-akcio">
              <div class="covid-icon w-embed">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="virus"
                  class="svg-inline--fa fa-virus fa-w-16"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewbox="0 0 512 512"
                >
                  <path
                    fill="currentColor"
                    d="M483.55,227.55H462c-50.68,0-76.07-61.27-40.23-97.11L437,115.19A28.44,28.44,0,0,0,396.8,75L381.56,90.22c-35.84,35.83-97.11,10.45-97.11-40.23V28.44a28.45,28.45,0,0,0-56.9,0V50c0,50.68-61.27,76.06-97.11,40.23L115.2,75A28.44,28.44,0,0,0,75,115.19l15.25,15.25c35.84,35.84,10.45,97.11-40.23,97.11H28.45a28.45,28.45,0,1,0,0,56.89H50c50.68,0,76.07,61.28,40.23,97.12L75,396.8A28.45,28.45,0,0,0,115.2,437l15.24-15.25c35.84-35.84,97.11-10.45,97.11,40.23v21.54a28.45,28.45,0,0,0,56.9,0V462c0-50.68,61.27-76.07,97.11-40.23L396.8,437A28.45,28.45,0,0,0,437,396.8l-15.25-15.24c-35.84-35.84-10.45-97.12,40.23-97.12h21.54a28.45,28.45,0,1,0,0-56.89ZM224,272a48,48,0,1,1,48-48A48,48,0,0,1,224,272Zm80,56a24,24,0,1,1,24-24A24,24,0,0,1,304,328Z"
                  >
                  </path>
                </svg>
              </div>
              <div class="covid-text">
                csoportos: 18.000 Ft, egyéni: 25.000 Ft
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section
    id="SZAMLAZAS"
    class="l-section is--padding-80px-copy bg-img wf-section"
  >
    <div class="l-container">
      <div class="max-width-750px">
        <h2 class="c-heading-2 is--jelentkezes">Számlázási adatok<br /></h2>
        <div class="c-line is--white"></div>
        <div id="szamlazasi-adatok" class="billing-form-wrapper w-form">
          <form
            id="wf-form-szamlazasi-adatok"
            name="wf-form-szamlazasi-adatok"
            data-name="szamlazasi-adatok"
            method="post"
            action="https://gmail.us1.list-manage.com/subscribe/post?u=68b6bc275d159514d659e1a3a&amp;id=b740fa80b5"
            redirect="https://vipmasszazsstudio.hu/jelentkezeset-rogzitettuk-video.html"
            data-redirect="https://vipmasszazsstudio.hu/jelentkezeset-rogzitettuk-video.html"
            class="billing-form"
          >
            <div id="w-node-_67d20437-13bc-9bbb-4240-ceebf9fa94df-810f1826">
              <label for="EMAIL-2" id="Email" class="field-label"
                >E-mail cím</label
              ><input
                type="email"
                class="c-form-field is--rounded w-input"
                maxlength="256"
                name="EMAIL"
                data-name="EMAIL"
                placeholder=""
                id="EMAIL"
                required=""
              />
            </div>
            <div>
              <label for="FNAME-2" id="first-name" class="field-label"
                >vEZETÉKNÉV</label
              ><input
                type="text"
                class="c-form-field is--rounded w-input"
                maxlength="256"
                name="FNAME"
                data-name="FNAME"
                placeholder=""
                id="FNAME"
                required=""
              />
            </div>
            <div>
              <label for="LNAME-2" id="last-name" class="field-label"
                >UTÓNÉV</label
              ><input
                type="text"
                class="c-form-field is--rounded w-input"
                maxlength="256"
                name="LNAME"
                data-name="LNAME"
                placeholder=""
                id="LNAME"
                required=""
              />
            </div>
            <div id="w-node-_9c702e6f-2310-eda9-56bc-0949b59f027e-810f1826">
              <label for="COMPANY-2" id="company-name" class="field-label"
                >Cégnév (nem kötelező)<br /></label
              ><input
                type="text"
                class="c-form-field is--rounded w-input"
                maxlength="256"
                name="COMPANY"
                data-name="COMPANY"
                placeholder=""
                id="COMPANY"
              />
            </div>
            <div id="w-node-_33de7bdd-f11d-a296-2529-494b771c0814-810f1826">
              <label for="COUNTRY-2" id="country" class="field-label"
                >ország</label
              ><input
                type="text"
                class="c-form-field is--rounded w-input"
                maxlength="256"
                name="COUNTRY"
                data-name="COUNTRY"
                placeholder=""
                id="COUNTRY"
                required=""
              />
            </div>
            <div>
              <label for="POSTCODE-2" id="post-code" class="field-label"
                >Irányítószám</label
              ><input
                type="text"
                class="c-form-field is--rounded w-input"
                maxlength="256"
                name="POSTCODE"
                data-name="POSTCODE"
                placeholder=""
                id="POSTCODE"
                required=""
              />
            </div>
            <div>
              <label for="CITY-2" id="city" class="field-label">város</label
              ><input
                type="text"
                class="c-form-field is--rounded w-input"
                maxlength="256"
                name="CITY"
                data-name="CITY"
                placeholder=""
                id="CITY"
                required=""
              />
            </div>
            <div>
              <label for="ADDRESS-2" id="street" class="field-label"
                >utca, házszám</label
              ><input
                type="text"
                class="c-form-field is--rounded w-input"
                maxlength="256"
                name="ADDRESS"
                data-name="ADDRESS"
                placeholder=""
                id="ADDRESS"
                required=""
              />
            </div>
            <div id="w-node-_4f05ec1d-e3ca-e164-768a-21c8b0cfe674-810f1826">
              <label for="PHONE-2" id="phone" class="field-label"
                >Telefonszám (nem kötelező)</label
              ><input
                type="text"
                class="c-form-field is--rounded w-input"
                maxlength="256"
                name="PHONE"
                data-name="PHONE"
                placeholder=""
                id="PHONE"
              />
            </div>
            <div id="w-node-_25faf13e-dace-97e5-366a-9c4e21b32311-810f1826">
              <label class="w-checkbox checkbox-field-2"
                ><input
                  type="checkbox"
                  id="GDPR"
                  name="checkbox"
                  data-name="Checkbox"
                  required=""
                  class="w-checkbox-input checkbox-2"
                /><span class="c-text-adatkezeles w-form-label" for="checkbox"
                  >Adatkezelési tájékoztató és hozzájárulás:</span
                ></label
              >
              <div class="c-text-adatkezeles">
                Az <a
                  href="altalanos_adatkezelesi_tajekoztato_2023.pdf"
                  target="_blank"
                  class="link-2">adatkezelési tájékoztatott</a
                > elolvastam a tartalmát megértettem és hozzájárulok ahhoz, hogy
                Szigeti Mónika e.v., mint adatkezelő kezelje a megadott személyes
                adataimat kapcsolattartás céljából.
              </div>
            </div><input
              type="submit"
              value="Elküld"
              data-wait="Kis türelmet..."
              id="SUBMIT_BTN"
              class="button-2 w-button"
            />
          </form>
          <div class="w-form-done">
            <div>Köszönjük a jelentkezését rögzítettük.</div>
          </div>
          <div class="w-form-fail">
            <div>
              Valami hiba történt a jelentkezésnél, kérjük próbálja meg újra,
              vagy vegye fel velünk a kapcsolatot telefonon.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</MainLayout>
