---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Üzenetét megkaptuk | VIP Masszázs Stúdió"
  metaDescription="Üzenetét megkaptuk | VIP Masszázs Stúdió"
>
  <div class="full-page-section wf-section">
    <div class="container-2 is--center is--form">
      <p class="succsess-page-text">
        Köszönjük az érdeklődést hamarosan válaszolunk.<br />Kérjük ellenőrizze
        a promóciós mappát és a spam fiókót is. Amennyiben egy napon belül nem
        kap tőlünk semmilyen visszajelzést kérjük vegye fel velünk a kapcsolatot
        közvetlenül a vip.homemassage@gmail.com címen vagy a +3670 947 6954-es
        telefonszámon.
      </p>
      <a href="index.html" class="success-back-link"
        ><span class="c-arrow"></span> Vissza a főoldalra</a
      >
    </div>
  </div>
</MainLayout>
