---

---

<section id="consentPopup" class="popup-wrappper wf-section">
    <div class="cookie-container">
      <div class="cookie-text">Weboldalunkon cookie-kat használunk,amelyek célja, hogy teljesebb szolgáltatást nyújtsunk
        látogatóink részére.</div>
      <div>
        <a id="consentBtn" href="#" class="cookie-button w-button">Elfogadom</a>
        <a href="#" class="cookie-button w-button">Elutasítom</a>
      </div>
    </div>
  </section>