---
import "../styles/normalize.css";
import "../styles/vip-masszazs.webflow.css";
import "../styles/webflow.css";
---

<footer class="footer english wf-section">
    <div class="l-container">
      <div class="footer-wrapper">
        <div class="c-copyright">Copyright ©vipmasszazsstudio.hu</div>
        <a href="adatkezelesi-tajekoztato.html" class="c-link">Terms and conditions</a>
      </div>
    </div>
  </footer>