---

---

<footer class="footer wf-section">
    <div class="l-container">
      <div class="footer-wrapper">
        <div class="w-layout-grid footer-grid">
          <div id="w-node-_0df385dd-5244-9aae-4b4f-1f1dd6a33439-d6a33436" class="c-copyright">Copyright 2022
            vipmasszazsstudio.hu</div>
          <a id="w-node-_1813aeae-61ba-3bcf-3b51-bd3c26cbadad-d6a33436"
            href="https://www.facebook.com/VIP-Massz%C3%A1zs-St%C3%BAdi%C3%B3-2252334738135686/" target="_blank"
            class="fb-logo"></a>
          <a id="w-node-_0df385dd-5244-9aae-4b4f-1f1dd6a3343b-d6a33436"
            href="altalanos_adatkezelesi_tajekoztato_2023.pdf" class="c-link" target='_blank'>adatkezelési
            tájékoztató</a>
        </div>
      </div>
    </div>
  </footer>