---
---

<div
  data-collapse="medium"
  data-animation="default"
  data-duration="400"
  data-easing="ease"
  data-easing2="ease"
  role="banner"
  class="navbar hero w-nav"
>
  <div class="l-container-navbar">
    <a
      href="index.html"
      aria-current="page"
      class="brand w-nav-brand w--current"
      ><img src="images/flower-logo.svg" height="" alt="" class="logo-img" />
      <div class="c-logo-text">VIP Masszázs<br />Oktatási Stúdió</div>
    </a>
    <nav role="navigation" class="nav-menu w-nav-menu">
      <a
        href="index.html"
        aria-current="page"
        class="nav-link w-nav-link w--current">Kezdőlap</a
      >
      <a href="svedmasszazs-tanfolyam.html" class="nav-link w-nav-link">Videó</a
      >
      <a href="rolam.html" class="nav-link w-nav-link">Rólam</a>
      <a href="galeria.html" class="nav-link w-nav-link">Galéria</a>
      <a href="kapcsolat.html" class="nav-link w-nav-link">Kapcsolat</a>
      <a href="#jelentkezes" class="c-nav-button w-nav-link">Jelentkezés</a>
      <a href="office-massage.html" class="flag w-inline-block"><img src="images/english.png" alt=""></a>
    </nav>
    <div class="w-nav-button">
      <div class="w-icon-nav-menu"></div>
    </div>
  </div>
</div>
